@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0,14,25);
    background: linear-gradient(0deg, rgba(0,14,25,1) 0%, rgba(0,53,78,1) 30%, rgba(0,143,185,1) 90%, rgba(79,224,247,1) 100%);
    -webkit-box-shadow: inset 4px -73px 127px 23px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 4px -73px 127px 23px rgba(0,0,0,0.75);
    box-shadow: inset 4px -73px 127px 23px rgba(0,0,0,0.75);
    min-height: 100vh;
    color: #fff
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    height: 100vh;
    padding: 64px;
}

.content .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

h1 {
    font-weight: 200;
    letter-spacing: 1rem;
    margin-bottom: 0px;
}
h3 {
    font-weight: 200;
    letter-spacing: 0.1rem;
}

.content .timer {
    display: flex;
    gap: 50px;
}
.content .timer .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box .value {
    font-size: 7rem;
    font-weight: 700;
}
.box .unit {
    font-size: 2.2rem;
    color: #88a2af;
}